.MaterialsComponents{
    width: 175px;
    height: 100px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 50px;
    color: black;
}

.MaterialsComponents{
    width: 175px;
    height: 100px;
    padding: 5px 15px 5px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 50px;
    color: black;
}